.buttonsBlock {
  display: flex;
  width: 458px;
  flex-wrap: wrap;
  height: 464px;
  justify-content: center;
  background: transparent;

  .button {
    border: none;
    flex-basis: 100px;
    background: transparent;
    color: white;

    cursor: pointer;

    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 88px;

    text-align: center;
    &:active{
      outline: none;
    }
    &:focus{
      outline: none;
    }
    
  }
}
