.buttonsBlock {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0.5;
  background: transparent;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 2.25em;
    flex-basis: 25%;

    background: transparent;
    color: white;
    padding: 0;
    position: relative;

    cursor: pointer;

    font-family: "Geometria";
    font-style: normal;

    text-align: center;

    &:focus {
      outline: none;
    }

    .buttonChild {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vh;
      height: 10vh;
      &:hover {
        border-radius: 50%;
        background: rgba(77, 143, 197, 0.815);
      }
      &:active {
        outline: none;
        background-color: white;
        color: rgb(48, 48, 145);
      }
      .svg {
        display: flex;
        align-items: center;
        fill: white;
        &:active {
          fill: rgb(48, 48, 145);
        }
      }
    }
  }
}
