.outputBlock {
  text-align: right;
  font-family: "Geometria";
  font-style: normal;
  font-weight: 700;

  font-size: 56px;
}
.outputBlockForBogDigits {
  font-size: 34px;
  text-align: right;
  font-family: "Geometria";
  font-style: normal;
}
