.outputBlock {
  width: 460px;
  height: 76px;

  font-family: "Geometria";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;

  text-align: right;

  color: #f2f2f2;
}
