.screenBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 3;
  color: white;
  .line {
    border: 2px solid rgb(41, 104, 221);
    opacity: 0.35;
    border-radius: 20px;
  }
}
