.screenBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  //margin-bottom: 30px;
  color: white;
  .line {
    border: 2px solid rgb(41, 104, 221);
    opacity: 0.35;
    border-radius: 20px;
  }
}
